@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin:0;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    font-size: 0.75rem;
    font-family: "Kumbh Sans", sans-serif;
    color: #4B4C5F;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-rows: 110px 85px 1fr;
}

.images {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.images-desktop-background, .images-box, .images-desktop-main {
    display: none;
}

.images-mobile-main {
    grid-row: 1/3;
    z-index: 3;
}

.images-mobile-background {
    grid-row: 1/3;
    z-index: 2;
    align-self: flex-end;
}

.card {
    grid-column: 1;
    grid-row: 2/4;
    background-color: #FFFFFF;
    height: fit-content;
    border-radius: 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 2rem 1fr;
}


.card__header {
    font-size: 2rem;
    font-weight: 700;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.items {
    padding: 2em 2em 3em 2em;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.item {
    display: grid;
    grid-template-columns: 7fr 0.7fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #E8E8EA;
}

.question1 {
    grid-row: 1;
}

.question2 {
    grid-row: 2;
}

.question3 {
    grid-row: 3;
}

.question4 {
    grid-row: 4;
}

.question5 {
    grid-row: 5;
}

.item__header {
    grid-column: 1;
    text-decoration: none;
    color: #4B4C5F;
    display: block;
    height: 1em;
    padding: 1.5em 0 1.5em 0;
}


.item__header:hover {
    color: #F47B56;
    cursos: pointer;
}

.item__header.active {
    font-weight: 700;
}

.item__content {
    grid-column: 1;
    display: none;
    padding-bottom: 1em;
}

.item__content.active {
    display: block;
    margin: 0;
}

.item__arrow {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.item__arrow img {
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.item__arrow.active img {
    transform: rotate(180deg);
}

.item__arrow:hover {
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width: 320px) {
    main {
        max-width: 90%;
    }
}

@media(min-width: 390px) {
    main {
        max-width: 80%;
    }
}

@media(min-width: 480px) {
    main {
        max-width: 55%;
    }
}


@media(min-width: 680px) {
    main {
        max-width: 40%;
    }
}

@media(min-width: 1000px) {
    main {
        max-width: 70%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 100px 2fr 2fr;
        grid-template-rows: 1fr;
    }

    .card {
        grid-column: 2/4;
        grid-row: 1;
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 0.5fr 3fr;
        grid-gap: 0;
        overflow: hidden;
    }

    .images-desktop-background, .images-box, .images-desktop-main {
        display: block;
    }

    .images-mobile-background, .images-mobile-main {
        display: none;
    }

    .images-box {
        grid-column: 1;
        grid-row: 1;
        z-index: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 10%;
        left: 50%;
    }

    .images-box img {
        width: 100%;
    }

    .images__desktop {
        max-width: 30%;
        grid-column: 1;
        grid-row: 1/3;
    }

    .images-desktop-main {
        max-width: 30%;
        z-index: 3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .images-desktop-background {
        max-width: 30%;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        position: relative;
    }

    .images-desktop-main img {
        transform: scale(0.7) translate(-35%, 20%);
    }

    .images-desktop-background img {
        transform: scale(0.6) translate(-85%, -110%);
        position: absolute;
    }

    .card__header {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-start;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    .items {
        grid-column: 2;
        grid-row: 2;
        padding-left: 0;
        padding-top: 0;
    }
}

@media(min-width: 1370px) {
    main {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .card {
        grid-template-columns: 1fr 1fr;
    }

    .images-box {
        top: 10%;
        left: 50%;
    }

    .images-desktop-main img {
        transform: scale(0.9) translate(-15%, 10%);
    }

    .images-desktop-background img {
        transform: scale(0.8) translate(-63%, -90%);
        position: absolute;
    }
}
